<!DOCTYPE html>
<html>
<head>
    <title>
        blog assignment
    </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="dropdown_menu_div">
                <span>
                    ME<br>
                    NU
                </span>
                <div class="dropdown_content">
                    <p><a href="/blog">Main Page</a></p>
                    <p><a href="/blog/newpost">New Post</a></p>
                    {% if user.name %}
                        <p><a href="/blog/myposts">My Poetry</a></p>
                    {% endif %}
                </div>
            </div>
            <div class="blog_title">
                <a href="/blog">FSND Poetry BLOG</a>
            </div>
            <div class="user_menu_div">
                {% if user %}
                    User:{{ user.name }}
                    <br>
                    <a href="/blog/logout">[logout]</a>
                {% else %}
                    <a href="/blog/login">[login]</a>
                    <br>
                    <a href="/blog/signup">[signup]</a>
                {% endif %}
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>